<ion-header>
  <ion-navbar color="primary">
    <ion-title>我的银行卡</ion-title>
    <ion-buttons right>
      <button ion-button (click)="addCard()">
        添加银行卡
        <svg class="icon" aria-hidden="true" item-left>
          <use xlink:href="#icon-bankcard"></use>
        </svg>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="刷新" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>

  <app-loading *ngIf="!isDone"></app-loading>
  <ion-card *ngFor="let Card of user?.bankCard">
    <div *ngIf="isDone">
      <ion-item color="primary">
        <ion-icon item-left>
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-guangdayinhang"></use>
          </svg>
        </ion-icon>
        {{Card.bank.name}}
        <svg class="icon" aria-hidden="true" item-right *ngIf="Card.isSecurityCard">
          <use xlink:href="#icon-anquandunpai1"></use>
        </svg>
      </ion-item>
      <ion-item color="primary">
        <ion-row>
          <ion-col width-50>客服电话:{{Card.bank.phone}}</ion-col>
          <ion-col width-50>银行卡尾号:{{Card.maskCardID}}</ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
