user-invest-item {
  ion-card{
    ion-grid{
      padding: 0;

      ion-row{
        ion-col{
          text-align: center;
          padding:6px 0;

          &:not(:last-of-type){
            border-right:1px solid #eee;
          }
        }
        &:not(:last-of-type){
          border-bottom: 1px solid #eee;
        }
      }
    }
    h3{
      background-color: #eee;
      padding: 5px 18px;
      border-radius: 15px;
    }
  }
}
