<ion-header>
  <ion-navbar  color="primary">
    <ion-title>自动投标</ion-title>
    <ion-buttons right>
      <button ion-button (click)="newAutoInvest()">
        新增自动投标
        <svg class="icon" aria-hidden="true" style="font-size: 2em;">
          <use xlink:href="#icon-speedometer"></use>
        </svg>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <app-loading *ngIf="!isDone"></app-loading>
  <ion-card [hidden]="!isDone" *ngFor="let autoInvest of autoInvests">
    <ion-item>
      <ion-label>
        账户保留金额:{{autoInvest.account}}
      </ion-label>
      <ion-toggle [checked]="autoInvest?.auopen != '关闭状态'"></ion-toggle>

      <button ion-button small outline item-right color="danger" (click)="deleteAutoAmount(autoInvest.id)">删除</button>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <h2>每次投标金额</h2>
            <p>{{autoInvest.amount}}</p>
          </ion-col>
          <ion-col width-50>
            <h2>利息范围</h2>
            <p>{{autoInvest.interestrangeone}}%-{{autoInvest.interestrangetwo}}%</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <h2>借款期限</h2>
            <p>{{autoInvest.loantermone}}-{{autoInvest.loantermtwo}}月</p>
          </ion-col>
          <ion-col width-50>
            <h2>信用等级范围</h2>
            <p>{{autoInvest.creditratingone}} - {{autoInvest.creditratingtwo}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
