<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>{{invest.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides [options]="slideOptions">
    <ion-slide class="invest">
      <p class="title">
        F-1030-7890
      </p>
      <!-- h:155px + p-b:14px-->
      <div class="rate">
        <h1 color="primary">
          {{invest.profitRate|number:'1.0-2'}}
          <span>%</span>
        </h1>
        <ion-progress [max]="invest.borrowMoney" *ngIf="invest.remainderMoney > 0" [existed]="(invest.borrowMoney - invest.remainderMoney)"></ion-progress>

        <ion-chip *ngIf="invest.borrowmark.mark1 == '1'">
          <ion-icon>信</ion-icon>
          <ion-label>
            {{invest?.level}}
          </ion-label>
        </ion-chip>

        <ion-chip *ngIf="invest.borrowmark.mark2 == '1'">
          <ion-icon>担</ion-icon>
          <ion-label>
            {{invest?.level}}
          </ion-label>
        </ion-chip>

        <ion-chip *ngIf="invest.borrowmark.mark3 == '1'">
          <ion-icon>抵</ion-icon>
          <ion-label>
            {{invest?.level}}
          </ion-label>
        </ion-chip>


        <ion-chip *ngIf="invest.borrowmark.mark4 == '1'">
          <ion-icon>实</ion-icon>
          <ion-label>
            {{invest?.level}}
          </ion-label>
        </ion-chip>


        <ion-chip *ngIf="invest.borrowmark.mark5 == '1'">
          <ion-icon>保</ion-icon>
          <ion-label>
            {{invest?.level}}
          </ion-label>
        </ion-chip>

        <ion-chip *ngIf="invest.borrowmark.mark6 == '1'">
          <ion-icon>流</ion-icon>
          <ion-label>
            {{invest?.level}}
          </ion-label>
        </ion-chip>

        <!-- h:100-->
        <ion-grid>
          <ion-row style="">
            <ion-col width-33>
              <h3>{{invest.borrowDeadline}}个月</h3>
              <p>借款期限</p>
            </ion-col>
            <ion-col width-33>
              <h3>{{invest.borrowMoney|number:'1.0-0'}}元</h3>
              <p>借款金额</p>
            </ion-col>
            <ion-col width-33>
              <h3>{{(invest.borrowMoney - invest.remainderMoney)|number:"1.0-0"}}元</h3>
              <p>剩余投资金额</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-list>
        <ion-item>
          还款方式
          <ion-note style="margin-left: 15px;">{{invest.repaymentType}}</ion-note>
          <ion-icon name="help-circle" color="primary" item-right (click)="showDetailPage()"></ion-icon>
        </ion-item>
        <ion-item>
          借款协议
          <ion-note style="margin-left: 15px;">{{invest.borrowType}}</ion-note>
          <ion-icon name="information-circle" color="primary" item-right></ion-icon>
        </ion-item>

      </ion-list>
      <div padding>
        <button ion-button block (click)="openInvester()" *ngIf="invest.remainderMoney > 0" [hidden]="!userOn">立即投资</button>
        <button ion-button block (click)="login()" [hidden]="userOn">登录</button>
      </div>

      <p class="pin">
        <ion-icon name="arrow-up"></ion-icon>
        上拉查看详情
      </p>
    </ion-slide>

    <ion-slide class="detail">
      <ion-toolbar no-border-top color="primary">
        <ion-segment color="light" [(ngModel)]="slideIndex" (ionChange)="goToDetail(slideIndex)">
          <ion-segment-button value="0">
            项目介绍
          </ion-segment-button>

          <ion-segment-button value="1">
            项目描述
          </ion-segment-button>

          <ion-segment-button value="2">
            投资人列表
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>


      <ion-slides #sliderDetail (ionDidChange)="onSlideChanged()">
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                用户信息
              </ion-card-header>
              <ion-grid>
                <ion-row wrap>
                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        昵 &nbsp; &nbsp; &nbsp; 称:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.basicInfo.nickname|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        公司行业:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.jobInfo.companyType|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        性 &nbsp; &nbsp; &nbsp; 别:
                      </ion-col>
                      <ion-col width-50>
                        {{(invest.basicInfo.gender == "F")?"女":"男"|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        公司规模:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.jobInfo.scale|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        学 &nbsp; &nbsp; &nbsp; 历:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.basicInfo.education|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        工作年限:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.jobInfo.workYears|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        工作城市:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.jobInfo.workCity|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col width-50>
                    <ion-row>
                      <ion-col width-50>
                        月 &nbsp;收 &nbsp;入:
                      </ion-col>
                      <ion-col width-50>
                        {{invest.jobInfo.salary|masks:userOn}}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row style="border-top:1px solid #eee;">
                  <ion-col width-25>
                    房产:{{invest.assetInfo.houseStatus?'有':"无"|masks:userOn}}
                  </ion-col>
                  <ion-col width-25>
                    房贷:{{invest.assetInfo.mortgage?'有':'无'|masks:userOn}}
                  </ion-col>
                  <ion-col width-25>
                    车产:{{invest.assetInfo.carStatus?'有':'无'|masks:userOn}}
                  </ion-col>
                  <ion-col width-25>
                    车贷:{{invest.assetInfo.carLoan?'有':'无'|masks:userOn}}
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-card-header>
                认证信息
              </ion-card-header>
              <ion-grid>
                <ion-row wrap>
                  <ion-chip *ngFor="let auth of invest.auth">
                    <ion-icon name="checkmark"></ion-icon>
                    <ion-label>{{auth.name}}</ion-label>
                  </ion-chip>
                </ion-row>
              </ion-grid>

            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content style="    text-align: start;">
              {{invest.description|masks:userOn}}
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content class="invest-list">
              <ion-grid>
                <ion-row>
                  <ion-col width-25>
                    投资人
                  </ion-col>
                  <ion-col width-50>
                    投资金额
                  </ion-col>
                  <ion-col width-25>
                    申购时间
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let investment of invest.investments">
                  <ion-col width-25>
                    {{investment.userName}}
                  </ion-col>
                  <ion-col width-50>
                    {{investment.money}}
                  </ion-col>
                  <ion-col width-25>
                    {{investment.time}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


    </ion-slide>
  </ion-slides>
</ion-content>
