<ion-header [class.filt]="backEnd">
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>{{invest.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content [class.filt]="backEnd">
  <!--<ion-fab right top edge>-->
    <!--<button ion-fab >-->
      <!--立即<br/>投资-->
    <!--</button>-->
  <!--</ion-fab>-->
  <ion-slides [options]="slideOptions">

    <ion-slide class="invest">

      <p class="title">
        F-1030-7890
      </p>
      <!-- h:155px + p-b:14px-->
      <div class="rate">
        <h1 color="primary">
          {{invest.rate}}
          <span>%</span>
        </h1>
        <ion-progress [max]="invest.money" [existed]="invest.existed"></ion-progress>
        <ion-chip [ngSwitch]="invest.mark">
          <ion-icon *ngSwitchCase="'1'">信</ion-icon>
          <ion-icon *ngSwitchCase="'2'">担</ion-icon>
          <ion-icon *ngSwitchCase="'3'">押</ion-icon>
          <ion-icon *ngSwitchCase="'4'">实</ion-icon>
          <ion-icon *ngSwitchCase="'5'">保</ion-icon>
          <ion-icon *ngSwitchCase="'6'">转</ion-icon>
          <ion-label>
            {{invest.level}}
          </ion-label>
        </ion-chip>

        <!-- h:100-->
        <ion-grid>
          <ion-row style="">
            <ion-col width-33>
              <h3>{{invest.date}}个月</h3>
              <p>借款期限</p>
            </ion-col>
            <ion-col width-33>
              <h3>{{invest.money|number:'1.0-0'}}元</h3>
              <p>借款金额</p>
            </ion-col>
            <ion-col width-33>
              <h3>{{invest.existed|number:"1.0-0"}}元</h3>
              <p>剩余投资金额</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-list>
        <ion-item>
          还款方式
          <ion-note style="margin-left: 15px;">按月付息,到期还款</ion-note>
          <ion-icon name="help-circle" color="primary" item-right></ion-icon>
        </ion-item>
        <ion-item>
          借款协议
          <ion-icon name="information-circle" color="primary" item-right></ion-icon>
        </ion-item>

      </ion-list>
      <div padding>
        <button ion-button block (click)="openInvester()" [hidden]="!userOn">立即投资</button>
        <button ion-button block (click)="login()" [hidden]="userOn">登录</button>
      </div>

      <p class="pin">
        <ion-icon name="arrow-up"></ion-icon>
        上拉查看详情
      </p>
    </ion-slide>

    <ion-slide class="detail">
      <ion-toolbar no-border-top color="primary">
        <ion-segment color="light" [(ngModel)]="slideIndex" (ionChange)="goToDetail(slideIndex)">
          <ion-segment-button value="0">
            项目介绍
          </ion-segment-button>

          <ion-segment-button value="1">
            项目描述
          </ion-segment-button>

          <ion-segment-button value="2">
            投资人列表
          </ion-segment-button>

          <ion-segment-button value="3">
            常见问题
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>


      <ion-slides #sliderDetail (ionDidChange)="onSlideChanged()">
        <ion-slide>
            <ion-card>
              <ion-card-content>
                <ion-card-header>
                  用户信息
                </ion-card-header>
                <ion-grid>
                  <ion-row wrap>
                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          昵 &nbsp; &nbsp; &nbsp; 称:
                        </ion-col>
                        <ion-col width-50>
                          {{'曾先生'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          公司行业:
                        </ion-col>
                        <ion-col width-50>
                          {{'一般民营企业'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          性 &nbsp; &nbsp; &nbsp; 别:
                        </ion-col>
                        <ion-col width-50>
                          {{'男'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          工作年限:
                        </ion-col>
                        <ion-col width-50>
                          {{'5年以上'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          学 &nbsp; &nbsp; &nbsp; 历:
                        </ion-col>
                        <ion-col width-50>
                          {{'本科'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          工作年限:
                        </ion-col>
                        <ion-col width-50>
                          {{'5年以上'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          工作城市:
                        </ion-col>
                        <ion-col width-50>
                          {{'5年以上'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col width-50>
                      <ion-row>
                        <ion-col width-50>
                          月 &nbsp;收 &nbsp;入:
                        </ion-col>
                        <ion-col width-50>
                          {{'50000元以上'|masks:userOn}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                  <ion-row style="border-top:1px solid #eee;">
                    <ion-col width-25>
                      房产:{{'有'|masks:userOn}}
                    </ion-col>
                    <ion-col width-25>
                      房贷:{{'无'|masks:userOn}}
                    </ion-col>
                    <ion-col width-25>
                      车产:{{'有'|masks:userOn}}
                    </ion-col>
                    <ion-col width-25>
                      车贷:{{'无'|masks:userOn}}
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-card-header>
                  认证信息
                </ion-card-header>
                <ion-grid>
                  <ion-row wrap>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>身份证</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>户口本</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>身份证</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>银行对账单</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>书面申请表</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>房产证</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>结婚证</ion-label>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="checkmark"></ion-icon>
                      <ion-label>银行卡复印件</ion-label>
                    </ion-chip>
                  </ion-row>
                </ion-grid>

              </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content style="    text-align: start;">
              {{"借款人是武汉人,在武汉市经营一家高新网络科技有限公司,规模庞大,经营状况良好,还款来源明确.现因企业资金周转,"+
              "以本企业5.69%的股份进行质押,向亿富贷提出伍拾万元借款申请.以上情况经亿富贷实地考察情况属实.符合亿富贷考核标准.给予"+
              "授信贰佰万元借款额度,期限为期12个月,可循环使用."|masks:userOn}}
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content class="invest-list">
              <ion-grid>
                <ion-row>
                    <ion-col width-25>
                      投资人
                    </ion-col>
                    <ion-col width-50>
                      投资金额
                    </ion-col>
                    <ion-col width-25>
                      申购时间
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-25>
                      王胜利
                    </ion-col>
                    <ion-col width-50>
                      10000
                    </ion-col>
                    <ion-col width-25>
                      2016-11-11
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-25>
                    王胜利
                  </ion-col>
                  <ion-col width-50>
                    10000
                  </ion-col>
                  <ion-col width-25>
                    2016-11-11
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-25>
                    王胜利
                  </ion-col>
                  <ion-col width-50>
                    10000
                  </ion-col>
                  <ion-col width-25>
                    2016-11-11
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-25>
                    王胜利
                  </ion-col>
                  <ion-col width-50>
                    10000
                  </ion-col>
                  <ion-col width-25>
                    2016-11-11
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content>
              <h3>asfas</h3>
              <p>sdasasf</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>


    </ion-slide>
  </ion-slides>
</ion-content>
