page-borrow {
  ion-grid{
    padding: 0;
    ion-row{
      ion-col{
        padding: 0;
        text-align: center;
        height: 120px;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        .icon{
          margin-top: 8px;
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}
