page-borrow {
  ion-grid{
    padding: 0;
    ion-row{
      ion-col{
        padding: 0;
        text-align: center;
        .icon{
          margin-top:1.6em;
          height: 60px;
          width: 60px;
        }
        p{
          margin: 1.6em;
        }
      }
    }
  }
}
