<ion-content>
  <ion-card no-shadow>
    <ion-card-header text-center>
      {{title}}
    </ion-card-header>
    <ion-list>
      <div *ngFor="let type of typeList">
        <button ion-item (click)="toggle(type)">
          <!--<ion-icon [name]="type?.open?'arrow-dropup-circle':'arrow-dropdown-circle'" item-right></ion-icon>-->
          {{type?.title}}
        </button>
        <ion-card-content [hidden]="!type?.open">
          {{type?.note}}
        </ion-card-content>
      </div>
    </ion-list>
  </ion-card>

  <div padding-horizontal class="center-block close-button">
    <button ion-button icon-only large (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </div>
</ion-content>
