page-home {
  ion-navbar{

  }

  ion-slides{
    height:200px;

    ion-slide{
      .slide-zoom {
        height: 100%;
      }
      ion-img{
        height: 100%;
      }
    }
  }

  ion-grid{
    padding:0;
    background-color:#fff;
    ion-row{
      &.row{
        height: 25vw;

        ion-col{
          height: 100%;
          padding:16px 0;
          text-align: center;
          border-right:1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;


          .icon{
            font-size:40px;
            height: 50%;
            width: 100%;
          }


        }


      }
    }
  }

  ion-content{
    background-color:$dirty !important;
  }
  ion-list{
    margin-bottom: 0 !important;
    text-align: center;
  }
}
