<ion-content>
  <ion-slides [options]="slides">
    <ion-slide *ngFor="let item of slide">
      <ion-img [src]="item"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row  class="row">
      <!--(click)="goToMap()"-->
      <ion-col width-33 (click)="goToMap()">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-growth"></use>
        </svg>
        <p>指引</p>
      </ion-col>
      <!--(click)="openBrowser()"-->
      <ion-col width-33 (click)="goToPaper()">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-rating"></use>
        </svg>
        <p>活动</p>
      </ion-col>
      <!--<ion-col width-25 (click)="goToInveterPage()">-->
        <!--<svg class="icon" aria-hidden="true">-->
          <!--<use xlink:href="#icon-stats"></use>-->
        <!--</svg>-->
        <!--<p>邀请</p>-->
      <!--</ion-col>-->
      <ion-col width-33 (click)="goToSaveTy()">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-keyword"></use>
        </svg>
        <p>保障</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="刷新" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-list no-lines>
    <button ion-button clear small>
      <ion-icon name="podium"></ion-icon>
      散标投资
    </button>
  </ion-list>
  <app-loading *ngIf="!isDone"></app-loading>
  <invest-item [invests]="[sanbiao]" *ngIf="isDone&&sanbiao"></invest-item>

  <ion-list no-lines>
    <button ion-button clear small>
      <ion-icon name="cart"></ion-icon>
      消费金融
    </button>
  </ion-list>
  <app-loading *ngIf="!isDone"></app-loading>
  <invest-item [invests]="[xiaofei]" *ngIf="isDone&&xiaofei"></invest-item>

  <ion-list no-lines>
    <button ion-button clear small>
      <ion-icon name="repeat"></ion-icon>
      债权转让
    </button>
  </ion-list>
  <app-loading *ngIf="!isDone"></app-loading>
  <invest-item [invests]="[zhuanrang]" *ngIf="isDone&&zhuanrang"></invest-item>
</ion-content>
