<ion-header>
  <ion-navbar color="primary">
    <ion-title>借款</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-input type="tel" placeholder="借款金额(2000-2000000之间且为100的整数倍)" [(ngModel)]="model.money"></ion-input>
      <ion-icon name="cash" color="primary" item-right></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>借款期限</ion-label>
      <ion-select [(ngModel)]="model.date" cancelText="取消" okText="确定" *ngIf="dates">
        <ion-option *ngFor="let item of dates" [value]="item.name">{{item.name}}个月</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>还款方式</ion-label>
      <ion-select [(ngModel)]="model.type" cancelText="取消" okText="确定" *ngIf="types">
        <ion-option *ngFor="let item of types" [value]="item.id">
          {{item.title}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div padding>
      <button ion-button block (click)="sendForm(model)">下一步</button>
    </div>
  </ion-card>
</ion-content>
