$primary:    #387ef5;
$secondary:  #32db64;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dirty:      #eee;
$dark:       #222;

//color
.primary{
  color:#2196f3 !important;
}
.my-bg-primary{
  background: #387ef5 !important;
  color: #fff;
}
.bg-primary{
  background-color: #2196f3 !important;
  color: #fff;
}
.bg-secondary{
  background-color: #32db64 !important;
  color: #fff;
}
.secondary{
  color: #32db64 !important;
}

.light{
  color:#fff !important;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.pull-right{
  float:right;
}
.filt{
  transition:all 1.5s;
  filter:blur(4px);
}
.center-block{
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
