<ion-header>
  <ion-navbar color="primary">
    <ion-title>我的投资</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      投资累计收益
      <ion-note item-right class="primary">3,141.59元</ion-note>
    </ion-item>
    <ion-item>
      投资累计金额
      <ion-note item-right class="primary">3,14100.59元</ion-note>
    </ion-item>
  </ion-list>

  <app-loading *ngIf="!isDone"></app-loading>
  <user-invest-item [userInvest]="userInvest" *ngIf="isDone"></user-invest-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
