<ion-header no-border no-shadow>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-segment [(ngModel)] = "type" (ionChange)="goToDetail(type)">-->
      <!--<ion-segment-button *ngIf="type == types[1]" [value]="types[0]">{{types[0]}}</ion-segment-button>-->
      <!--<ion-segment-button *ngIf="type == types[0]" [value]="types[1]">{{types[1]}}</ion-segment-button>-->
    <!--</ion-segment>-->
    <ion-buttons right>
      <button ion-button icon-only (click)="goToDetail(type)" color="light">
        <ion-icon name="person" *ngIf="type == types[1]"></ion-icon>
        <ion-icon name="person-add" *ngIf="type == types[0]"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="my-bg-primary" fullscreen="true">
  <ion-slides #sliderDetail (ionDidChange)="onSlideChanged()">
    <ion-slide>
      <form (ngSubmit)="onSubmit()" #loginform="ngForm">
        <ion-list no-lines >
          <ion-item color="primary">
            <ion-input type="tel" placeholder="请输入手机号" id="phone" clearInput clearOnEdit
                       required [(ngModel)]="model.phone" #phone="ngModel" name="phone"></ion-input>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="password" placeholder="请输入密码" id="pswd" clearInput clearOnEdit
                       required [(ngModel)]="model.pswd" #pswd="ngModel" name="pswd"></ion-input>
            <ion-note item-right (click)="forgetPswd()">忘记密码?</ion-note>
          </ion-item>
          <div padding>
            <button ion-button block round outline color="light" type="submit">登录</button>
          </div>

          <ion-grid>
            <ion-row>
              <ion-col width-33>
                <svg class="icon" aria-hidden="true" item-left>
                  <use xlink:href="#icon-QQ"></use>
                </svg>
              </ion-col>
              <ion-col width-33>
                <svg class="icon" aria-hidden="true" item-left>
                  <use xlink:href="#icon-weibo"></use>
                </svg>
              </ion-col>
              <ion-col width-33>
                <svg class="icon" aria-hidden="true" item-left>
                  <use xlink:href="#icon-weixin"></use>
                </svg>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </form>
    </ion-slide>
    <ion-slide>
      <form (ngSubmit)="onSignUp()" #signform="ngForm">
        <ion-list no-lines>
          <ion-item color="primary">
            <ion-input type="tel" placeholder="请输入手机号" clearInput clearOnEdit maxlength="11" minlength="11"
                       required [(ngModel)]="sign.phone" #phone="ngModel" name="phone"></ion-input>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="tel" placeholder="请输入验证码" clearInput clearOnEdit maxlength="6" minlength="6"
                       required [(ngModel)]="sign.code" #code="ngModel" name="code"></ion-input>
            <ion-buttons item-right>
              <button ion-button round outline color="light" type="button" [disabled]="verycode.status" (click)="verycodeSend(sign.phone)">
                {{verycode.status?verycode.timers:verycode.text}}
              </button>
            </ion-buttons>
            <!--<ion-note item-right class="code"></ion-note>-->
          </ion-item>
          <ion-item color="primary">
            <ion-input type="password" placeholder="请输入密码" clearInput clearOnEdit
                       required [(ngModel)]="sign.pswd" #pswd="ngModel" name="pswd"></ion-input>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="tel" placeholder="推荐人(可选)" clearInput clearOnEdit
                       [(ngModel)]="sign.recommendPhone" #recommend="ngModel" name="recommend"></ion-input>
          </ion-item>
          <div padding>
            <!--[disabled]="!verycode.send"-->
            <button ion-button block round outline color="light"  type="submit">注册</button>
            <p>
              <ion-icon  name="checkbox-outline"></ion-icon>
              注册即视为同意《亿富贷服务协议》
            </p>
          </div>
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-col width-33>
              <svg class="icon" aria-hidden="true" item-left>
                <use xlink:href="#icon-QQ"></use>
              </svg>
            </ion-col>
            <ion-col width-33>
              <svg class="icon" aria-hidden="true" item-left>
                <use xlink:href="#icon-weibo"></use>
              </svg>
            </ion-col>
            <ion-col width-33>
              <svg class="icon" aria-hidden="true" item-left>
                <use xlink:href="#icon-weixin"></use>
              </svg>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
