<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment color="light" [(ngModel)] = "type" (ionChange)="goToDetail(type)">
      <ion-segment-button [value]="types[0]">{{types[0]}}</ion-segment-button>
      <ion-segment-button [value]="types[1]">{{types[1]}}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #sliderDetail (ionDidChange)="onSlideChanged()">
    <ion-slide>
      <form (ngSubmit)="onSubmit()" #loginform="ngForm">
        <ion-list>
          <ion-item>
            <ion-input type="tel" placeholder="请输入手机号" id="phone"
                       required [(ngModel)]="model.phone" #phone="ngModel" name="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="请输入密码" id="pswd"
                       required [(ngModel)]="model.pswd" #pswd="ngModel" name="pswd"></ion-input>
            <ion-note item-right (click)="forgetPswd()">忘记密码?</ion-note>
          </ion-item>
        </ion-list>
        <div padding-horizontal>
          <button ion-button block round type="submit">登录</button>
        </div>
      </form>
    </ion-slide>
    <ion-slide>
      <form (ngSubmit)="onSignUp()" #signform="ngForm">
        <ion-list>
          <ion-item>
            <ion-input type="tel" placeholder="请输入手机号"
                       required [(ngModel)]="sign.phone" #phone="ngModel" name="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="tel" placeholder="请输入验证码"
                       required [(ngModel)]="sign.code" #code="ngModel" name="code"></ion-input>
            <ion-note item-right class="code">获取验证码</ion-note>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="请输入密码"
                       required [(ngModel)]="sign.pswd" #pswd="ngModel" name="pswd"></ion-input>
          </ion-item>
        </ion-list>
        <div padding-horizontal>
          <button ion-button block round type="submit">注册</button>
          <p>
            <ion-icon color="primary" name="checkbox-outline"></ion-icon>
            注册即视为同意《亿富贷服务协议》
          </p>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col width-33>
              <svg class="icon" aria-hidden="true" item-left>
                <use xlink:href="#icon-QQ"></use>
              </svg>
            </ion-col>
            <ion-col width-33>
              <svg class="icon" aria-hidden="true" item-left>
                <use xlink:href="#icon-weibo"></use>
              </svg>
            </ion-col>
            <ion-col width-33>
              <svg class="icon" aria-hidden="true" item-left>
                <use xlink:href="#icon-weixin"></use>
              </svg>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
